.sectionHeader {
  position: fixed;
  z-index: 10;
  top: 32px;
  left: 0;
  left: 50%;
  /* transform: translateX(-50%); */
  width: 100%;
  max-width: 1920px;
  padding: 12px 0;

  /* background: linear-gradient(360deg, #f4c0cc 0%, #f7c9d4 100%); */
}
