.home {
  position: fixed;
  z-index: 10;
  top: 22px;
  left: 0;
  left: 50%;
  transform: translateX(-50%);
  border-bottom: 1px solid rgba(251, 251, 251, 0.4);
  width: 100%;
}

.header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 20px 32px;
}

.default {
  background-color: var(--dark);
  border-radius: 0;
  position: relative;
}
.navtheme {
  display: flex;
  gap: 52px;
}

.nav {
  display: flex;
  gap: 92px;
}

.pageNav {
  display: flex;
  gap: 40px;
  align-items: center;
}
.pageNavItem {
  font-size: 16px;
  line-height: 1.25;
  letter-spacing: -0.01em;
  color: #fbfbfb;
  text-decoration: none;
  position: relative;
}
.navAuthItem {
  font-weight: 500;
  font-size: 16px;
  line-height: 1.25;
  letter-spacing: -0.01em;
  color: #fbfbfb;
  text-decoration: none;
}
.navAuthList {
  display: flex;
  gap: 8px;
}
.loginBtn {
  border: 1px solid rgba(251, 251, 251, 0.4);
  border-radius: 30px;
  padding: 14px 39px;
  width: 134px;
  transition: all 100ms;
}

.loginBtn:hover,
.loginBtn:focus {
  background-color: var(--dark);
  border: 1px solid rgba(251, 251, 251, 0.749);
}
.registerBtn {
  border-radius: 30px;
  padding: 14px 40px;
  width: 168px;
  background: var(--dark);
  transition: all 100ms;
}
.registerBtn:hover,
.registerBtn:focus {
  color: var(--dark);
  background-color: #fbfbfb;
}
.logo {
  font-weight: 500;
  font-size: 24px;
  line-height: 1.16667;
  letter-spacing: -0.02em;
  color: #fbfbfb;
}
.iconUser {
  stroke: #fbfbfb;
  fill: var(--dark);
  width: 24px;
  height: 24px;
}
.iconUserWrap {
  border-radius: 10px;
  width: 40px;
  height: 40px;

  background-color: #fbfbfb;
  display: flex;
  align-items: center;
  justify-content: center;
}
.headerUserInfo {
  display: flex;
  align-items: center;
  gap: 14px;
}
.userMenu {
  display: flex;
  align-items: center;
  gap: 24px;
}
.userName {
  font-weight: 500;
  font-size: 18px;
  line-height: 1.11111;
  letter-spacing: -0.01em;
  color: #fbfbfb;
}

.activeLink::after {
  content: '';
  position: absolute;
  bottom: -12px;
  left: 50%;
  transform: translateX(-50%);
  width: 8px;
  height: 8px;
  border-radius: 50%;
  background-color: white;
}
.themeSwitch {
  position: absolute;
  top: 100px;
  left: 90%;
  transform: translateX(-50%);
}
.burgerBtn {
  display: none;
}
.nav {
  display: none;
}
.desktopNav {
  display: flex;
}
@media (min-width: 576px) and (max-width: 1024px) {
  .burgerBtn {
    display: none;
  }
  .nav {
    display: flex;
  }
  .pageNav {
    gap: 20px;
  }
  .userMenu {
    gap: 10px;
  }
  .headerUserInfo {
    gap: 6px;
  }
  .logo {
    font-size: 20px;
  }
  .loginBtn {
    padding: 10px 20px;
    width: 100px;
  }
  .navtheme {
    gap: 10px;
  }
  .registerBtn {
    padding: 10px 20px;
    width: 100px;
  }
}

@media (max-width: 576px) {
  .desktopNav {
    display: none;
  }
  .userMenu {
    gap: 24px;
  }
  .headerUserInfo {
    gap: 14px;
  }

  .iconUserWrap {
    width: 40px;
    height: 40px;
  }
  .iconUser {
    width: 20px;
    height: 20px;
  }
  .burgerBtn {
    background: none;
    border: none;
    display: flex;
    align-items: center;
    cursor: pointer;
  }
}
