.heroTitle {
  font-weight: 500;
  font-size: 30px;

  line-height: 1;
  letter-spacing: -0.03em;
  color: #fbfbfb;
  margin-bottom: 28px;
  width: 300px;
}
.heroDescription {
  font-size: 16px;
  line-height: 1.07143;
  letter-spacing: -0.02em;
  color: #fbfbfb;
  margin-bottom: 32px;
  width: 350px;
}
.heroBtn {
  border: 1px solid rgba(251, 251, 251, 0.4);
  border-radius: 30px;
  padding: 12px 0;
  width: 180px;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.2;
  letter-spacing: -0.01em;
  color: #fbfbfb;
  position: relative;
  background-color: transparent;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-bottom: 20px;
}
.sectionHero {
  background-color: var(--dark);
  border-radius: 30px;
  width: 100%;
  max-width: 1376px;
  height: 706px;
  margin: 0 auto;
  margin-top: 22px;
}
.heroWrap {
  gap: 64px;
}
.heroInfo {
  font-size: 16px;
  color: rgba(17, 16, 28, 0.5);
}

.heroInfoNumber {
  font-weight: 700;
  font-size: 18px;
  color: var(--color-text);
}
.heroInfoWrap {
  display: flex;
  gap: 16px;
  border-radius: 20px;
  width: 284px;
  height: 118px;
  background-color: #fbfbfb;
  align-items: center;
  justify-content: center;
}
.heroLeftSide {
  padding-top: 120px;
  padding-left: 32px;
}
.heroRightSide {
  background-image: url('/Hero/heroImage.png');
  background-size: cover;
  background-position: center;
  width: 100%;
  height: 450px;
  padding-top: 150px;
  padding-left: 100px;
}
.iconCheck {
  fill: #fbfbfb;
}
.heroCheckWrap {
  border-radius: 13px;
  width: 54px;
  height: 54px;
  background-color: var(--dark);
  display: flex;
  align-items: center;
  justify-content: center;
}

.heroBtn .icon {
  transition: opacity 0.2s ease;
}

.heroBtn .hoverIcon {
  opacity: 0;
  position: absolute;
  right: 30px;
}
.defaultIcon {
  margin-left: 18px;
}
.heroBtn:hover .defaultIcon,
.heroBtn:active .defaultIcon {
  opacity: 0;
}

.heroBtn:hover .hoverIcon,
.heroBtn:active .hoverIcon {
  opacity: 1;
}
@media (min-width: 768px) {
  .heroTitle {
  }
}
@media (min-width: 1024px) {
  .heroTitle {
    font-size: 70px;
    width: 517px;
  }
  .heroDescription {
    font-size: 28px;
    margin-bottom: 64px;
    width: 517px;
  }
  .heroBtn {
    padding: 18px 0;
    width: 230px;
    font-size: 20px;
  }
  .sectionHero {
    width: 1376px;
  }
  .heroWrap {
    display: flex;
  }
  .heroInfoNumber {
    font-size: 24px;
  }
  .heroLeftSide {
    padding-top: 251px;
    padding-left: 96px;
  }
  .heroRightSide {
    width: 699px;
    height: 736px;
    padding-top: 568px;
    padding-left: 365px;
  }
  .sectionHero {
    height: 736px;
  }
}
