.detailsInfoList {
  flex-wrap: wrap;
  gap: 8px;
  margin-top: 24px;
  max-width: 340px;
}
.detailsInfoItem {
  border-radius: 24px;
  padding: 8px 16px;
  background-color: #f3f3f3;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  color: #8a8a89;
}
.detailsInfoItemSpan {
  text-decoration-skip-ink: none;
  color: var(--color-text);
}
.iconPin {
  fill: none;
  stroke: var(--color-text);
  margin-right: 4px;
}
.topRightInfoWrap {
  display: flex;
  justify-content: space-between;

}
.topInfo {
  justify-content: space-between;
  align-items: center;
}
.topInfo > span {
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  color: #8a8a89;
}
.favouriteBtn {
  background-color: transparent;
  border: none;
}
.nannieItemWrap {
  gap: 24px;
  padding: 24px;
  background-color: #fbfbfb;
  border-radius: 24px;
  margin-bottom: 32px;
}
.nanniesName {
  font-weight: 500;
  font-size: 24px;
  line-height: 1;
  color: var(--color-text);
  margin-top: 8px;
}
.aboutDescription {
  font-size: 16px;
  line-height: 1.25;
  color: rgba(17, 16, 28, 0.5);
  margin-top: 24px;
  margin-bottom: 14px;
  max-width: 319px;
}
.readMoreBtn {
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  text-decoration: underline;
  text-decoration-skip-ink: none;
  color: var(--color-text);
}
.nanniesAvatarWrap {
  border: 2px solid var(--light);
  border-radius: 30px;
  padding: 12px;
  display: flex;
  align-items: center;
  position: relative;
}
.nanniesImg {
  border-radius: 15px;
  width: 319px;
  height: 319px;
}
.online {
  position: absolute;
  top: 9px;
  right: 14px;
  background-color: #38cd3e;
  width: 14px;
  height: 14px;
  border-radius: 100%;
  border: 2.5px solid #fbfbfb;
}
.mainTopInfo {
  flex-wrap: wrap;
}
.mainTopInfo p {
  position: relative;
  padding-right: 32px;
}

.reviewsList {
  margin-top: 48px;
}

.reviewItem {
  margin-bottom: 25px;
}
.reviewerName {
  font-weight: 500;
  font-size: 16px;
  line-height: 1.25;
  color: var(--color-text);
}
.reviewComment {
  font-weight: 400;
  font-size: 16px;
  line-height: 1.25;
  color: rgba(17, 16, 28, 0.5);
  margin-top: 16px;
  max-width: 319px;
}
.reviewRating {
  margin-left: 8px;
}
.firstLetter {
  border-radius: 100px;
  background-color: var(--light);
  padding: 12px 14px;
  font-weight: 500;
  font-size: 20px;
  line-height: 1;
  color: var(--dark);
  width: 44px;
  height: 44px;
  display: flex;
  align-items: center;
  justify-content: center;
}
.reviewItemWrap {
  display: flex;
  gap: 12px;
}
.makeAppointmentBtn {
  border-radius: 30px;
  padding: 14px 28px;
  width: 215px;
  background-color: var(--dark);
  font-weight: 500;
  font-size: 16px;
  line-height: 1.25;
  letter-spacing: -0.01em;
  color: #fbfbfb;
  margin-top: 23px;
  margin-bottom: 24px;
}
.iconHeartFilled {
  fill: var(--dark);
}
@media (min-width: 576px) {
  .nannieItemWrap,
  .detailsInfoList,
  .mainTopInfo {
    display: flex;
  }
  .nanniesAvatarWrap {
    max-width: 337px;
    height: 337px;
  }
  .nannieItemTopinfoWrap {
    max-width: 600px;
  }
  .nanniesImg {
    max-width: 309px;
  }
  .detailsInfoList {
    max-width: 620px;
  }
}
@media (min-width: 1024px) {
  .topInfo {
    display: flex;
  }
  .mainTopInfo p:nth-child(1)::after {
    content: '';
    position: absolute;
    top: 4px;
    right: 16px;
    width: 1px;
    height: 16px;
    background-color: rgba(17, 16, 28, 0.2);
  }
  .mainTopInfo p:nth-child(2)::after {
    content: '';
    position: absolute;
    top: 4px;
    right: 16px;
    width: 0.5px;
    height: 16px;
    background-color: rgba(17, 16, 28, 0.2);
  }
  .topRightInfoWrap {
    gap: 48px;
    align-items: center;
  }
  .nannieItemTopinfoWrap {
    max-width: 980px;
  }
  .nanniesImg {
    width: 96px;
    height: 96px;
  }
  .nanniesAvatarWrap {
    width: 120px;
    height: 120px;
  }
  .detailsInfoList {
    max-width: 980px;
  }
  .aboutDescription {
    max-width: 980px;
  }
  .reviewComment {
    max-width: 980px;
  }
}
