@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100..900;1,100..900&display=swap');
/* ===== ROOT VARIABLES ===== */
:root {
  --font-family: 'Roboto', sans-serif;
  --background: #ffedf1;
  --surface: #fff6fa;
  --accent: #9c3541;
  --light-gray: #e2dcdc;
  --pressed: #6c1b24;
  --hover: #ba4b59;
  --black: #000;
}
body {
  font-family: var(--font-family);
  line-height: 1.5;
  -webkit-font-smoothing: antialiased;
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin: 0;
}

ul,
ol {
  margin: 0;
  padding: 0;
  list-style: none;
  text-decoration: none;
}

img {
  display: block;
  max-width: 100%;
}

.container {
  width: 100%;
  max-width: 1204px;
  margin: 0 auto;
  padding-inline: 10px;
}
button {
  cursor: pointer;
}
img,
picture,
video,
canvas {
  display: block;

  max-width: 100%;
}

button,
input,
select,
textarea {
  border: none;

  font: inherit;

  background: none;
  outline: none;
}

a {
  color: inherit;
  text-decoration: none;
}
.nanniesImg {
  width: 96px;
  height: 96px;
  object-fit: cover;
}
