@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100..900;1,100..900&display=swap');
:root {
  --font-family: 'Roboto', sans-serif;
  --background: #ffedf1;
  --surface: #fff6fa;
  --accent: #9c3541;
  --light-gray: #e2dcdc;
  --pressed: #6c1b24;
  --hover: #ba4b59;
  --black: #000;

  --dark: #f03f3b;
  --light: rgba(240, 63, 59, 0.2);
  --color-text: #11101c;
}
body {
  font-family: var(--font-family);
  font-size: clamp(14px, 2vw, 18px);
  line-height: 1.5;
  -webkit-font-smoothing: antialiased;
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin: 0;
}

ul,
ol {
  margin: 0;
  padding: 0;
  list-style: none;
  text-decoration: none;
}

img {
  display: block;
  max-width: 100%;
}

.container {
  width: 100%;
  margin: 0 auto;
  padding-left: 10px;
  padding-right: 10px;
  box-sizing: border-box;
}

button {
  cursor: pointer;
}
img,
picture,
video,
canvas {
  display: block;

  max-width: 100%;
}

button,
input,
select,
textarea {
  border: none;

  font: inherit;

  background: none;
  outline: none;
}

a {
  color: inherit;
  text-decoration: none;
}
.nanniesImg {
  width: 96px;
  height: 96px;
  object-fit: cover;
}

.theme-green {
  --dark: #103931;
  --light: rgba(16, 57, 49, 0.2);
}

.theme-red {
  --dark: #f03f3b;
  --light: rgba(240, 63, 59, 0.2);
}

.theme-blue {
  --dark: #0957c3;
  --light: rgba(9, 87, 195, 0.2);
}
*,
*::before,
*::after {
  box-sizing: border-box;
}
@media (min-width: 576px) {
  .container {
    max-width: 720px;
    padding: 0 24px;
  }
}
@media (min-width: 1024px) {
  .container {
    max-width: 1204px;
  }
}
